*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    /* background-color: greenyellow; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    width: 40%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #A435F0;
    padding: 10px;
    border-radius: 30px;
    color: white;
    border: solid 1px #A435F0;
}

.categories p:hover {
    border: solid 1px #A435F0;
    color: #A435F0;
    background-color: white;
}

.sale-image img  {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.course-card {
    width: 250px;
}

.course-card img {
    height: 50%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid black 2px;
    flex-grow: 1;
    padding: 10px;
    flex-basis: 25%;
}

.topics__container p:hover {
    border: solid white 2px;
    color: white;
    background-color: black;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}